# SPDX-FileCopyrightText: 2020 Gabriel Lisaca <gabriel.lisaca@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

# Project-specific stuff
.formatted

# Vim stuff
*.swp
*.vim

# Distribution stuff
__pycache__/
*.pyc
build/
dist/
*.egg-info
*.egg

# Examples
*.elvis
*.completion

# Docs
site/

env/
tags
